@charset "UTF-8";

/* BODY */
body{
  background-color: red;
  font-family: Verdana, sans-serif;
  background: linear-gradient(black 20%, red 90%);
  background-attachment: fixed;
  color: white;
}

/* LINKS*/
a{
  text-decoration: none;
  color: blue;
  font-weight: bolder;
  transition: color 2s;
}

/* CONTAINER */
.container{
  margin-left: 10%;
  margin-right: 10%
}

/* CABEÇALHO */
.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

/* LISTA */
.container li{
  list-style-type: none;
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

/* IMAGENS */
figure {
  display: inline-block;
  border: solid 2px black;
  box-shadow: 2px 2px 5px black;
  overflow: auto;
  padding: 5px 5px 150px 5px;
  position: relative;
}

/* LEGENDAS */
figcaption{
  position: absolute;
}

/* RODAPE */
.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

/* EFEITO HOVER */
.cabecalho li:hover a{
  background-color: #999;
  color: #fff;
}

/* NOMES */
.palavra{
  font-weight: bold;
}

/**** LINK DO MEU REPOSITÓRIO GIT:https://github.com/vickiliou/nac-01_1sem-tds.git ****/
