@charset "UTF-8";

/* BODY */
body{
  background-color: red;
  font-family: Verdana, sans-serif;
  background: linear-gradient(black 20%, red 90%);
  background-attachment: fixed;
  color: white;
}

/* LINKS*/
a{
  text-decoration: none;
  color: blue;
  font-weight: bolder;
}

/* CONTAINER */
.container{
  margin-left: 10%;
  margin-right: 10%
}

/* CABECALHO */
.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

/* LISTA */
.container li{
  list-style-type: none;
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
}

/* IMAGENS */
img{
  display: inline-block;
  border: solid 2px black;
  box-shadow: 2px 2px 5px black;
  overflow: auto;
  padding: 5px 5px 150px 5px;
  position: relative;
}

/* LEGENDAS */
figcaption{
  position: absolute;
}

/* RODAPE */
.footer{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}
